/* Home */
.home {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

/* Animation */
.slide-in-middle {
    @starting-style {

        transform: scale(0.8);
        opacity: 0;
    }

    transform: scale(1);
    opacity: 1;
    transition: transform 1s ease,
    opacity 1s ease;
}

.slide-in-right {
    @starting-style {
        transform: translateX(100%);
    }

    transform: translateX(0%);
    transition: transform 0.4s ease;
}

.slide-in-left {
    @starting-style {
        transform: translateX(-100%);
    }

    transform: translateX(0%);
    transition: transform 0.4s ease;
}