/* Header */
.header {
    position: fixed;
    top: 0%;
    height: 8vh;
    width: 100vw;
    padding-inline: 20vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: 2px solid rgb(40, 40, 40);
    background-color: white;

    box-sizing: border-box;
}

/* Buttons */
.header button {
    position: relative;
    height: 8vh;
    width: 15vw;

    font-size: 1.2rem;
    font-weight: 600;

    border: none;
    border-bottom: 1px solid rgb(40, 40, 40);
    background-color: white;
    color: black;
    cursor: pointer;
    outline: none;

    background-image: linear-gradient(to top, rgb(40, 40, 40) 0%, rgb(40, 40, 40) 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 0%;
    transition: background-size 0.2s ease-out, color 0.5s;
}

.header button:hover {
    background-size: 100% 100%;
    color: white
}

.header button.active {
    background-size: 100% 100%;
    color: white;
}

/* .header:hover button.active:not(:hover) { */
.header:has(button:hover) button.active:not(:hover) {
    background-size: 100% 0%;
    color: black;
}