app-header {
    position: fixed;
    z-index: 1;
}

app-home {
    position: fixed;
    z-index: 0;
}

app-background {
    position: fixed;
    z-index: -1;
}

app-footer {
    position: fixed;
    z-index: 1
}