.about {
    position: fixed;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-text {
    height: 50vh;
    width: 28vw;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;

    background: transparent;
    border: none;

    text-align: center;
    color: white;
    overflow-y: auto;
}

.about-text h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
}

.about-text p {
    margin: 0.5rem 0;
    line-height: 1.1;
    font-size: 1rem;
}

/* Background */
.background-circle {
    position: fixed;
    z-index: -1;
    height: 70vh;
    width: 70vh;

    border: 0px solid;
    border-radius: 50%;
    background-color: rgb(40, 40, 40);
}

/* Animation */
.slide-in-right {
    @starting-style {
        transform: translateX(100%);
    }

    transform: translateX(0%);
    transition: transform 0.4s ease;
}