<div class="about" animate.enter="slide-in-right">
    <div class="background-circle"></div>
    <div class="about-text">
        <h1>About:</h1>
        <p>MuscleUp! is an open-source web application designed to help you craft your perfect workout,</p>
        <p>depending on which muscle group you want to focus on.</p>

        <p>To use the app, simply select the muscle group you're targeting, and</p>
        <p>it will suggest three exercises using different types of equipment - </p>
        <p>from full-on gym equipment, through simple weights or a pull-up bar, to only your bodyweight.</p>

        <p>We know how overwhelming it can be to start training with no prior experience, so head to the</p>
        <p>training tab for workouts tailored to different skill levels - from a total beginner to a weight-lifting pro!
        </p>
    </div>
</div>